.DS_Store
__pycache__/
.ipynb_checkpoints/

# Archivos generados y datasets pesados

outputs/
catboost_info/
effis_fires_mayor30ha.geojson
fires_10days.gif
iberfire_grid_1km.geojson
is_fire_spain_30ha_2018_2024.geojson
data/IberFire.nc
data/Final_dataset/

# Entornos locales
.venv/
venv/
.env

